<nav>
  <ul>
    <li><a href="{% url 'rooms' %}" {% if request.path == '/rooms/' or request.path == '/' %}class="active"{% endif %}>Rooms</a></li>
    <li><a href="{% url 'add_room' %}" {% if request.path == '/addroom/' %}class="active"{% endif %}>Add Room</a></li>
    {% if user.is_authenticated %}
      <li><a href="{% url 'my_rooms' %}" {% if request.path == '/myrooms/' %}class="active"{% endif %}>My Rooms</a></li>
      <li><a href="{% url 'cart' %}" {% if request.path == '/cart/' %}class="active"{% endif %}>Кошик</a></li>
      <li><a href="{% url 'my_bookings' %}" {% if request.path == '/bookings/' %}class="active"{% endif %}>Мої бронювання</a></li>
      <li><a href="{% url 'account_logout' %}">Вийти</a></li>
    {% else %}
      <li><a href="{% url 'account_login' %}">Увійти</a></li>
    {% endif %}
  </ul>
</nav>
